<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EPAX-AI | The virtual assistant</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <title>Aligning Buttons</title>

    <style type="text/css">
      html,
      body {
        height: 200px;
      }
    </style>
  </head>

  <body style="background-color: rgb(22, 22, 34)">
    <nav class="navbar navbar-dark" style="background-color: #090c07">
      <a class="navbar-brand" href="#">
        <img
          src="https://images-ext-1.discordapp.net/external/NCz4zVA5SDnqy1OgysBgKsDR3DgkEotby9ZADexHZ_o/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/630686815736692746/89a1377032b7030586ba964485ca23fc.webp?width=603&height=603"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        EPAX-AI
      </a>
      <div>
        <h3 style="color: rgb(147, 147, 153)">GAMES</h3>
      </div>
    </nav>
    <br>
    <div class="card-columns">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.discordapp.com/attachments/773803149890027520/804387583081054218/Whack_A_Mole_-_Google_Chrome_28-01-2021_21_57_20_2.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Wack A Mole!</h5>
          <p class="card-text">catch a mole before ti run's away!</p>
          <a
            class="btn btn-info"
            href="https://programmergaurav.me/JavaScript30/Whack%20A%20Mole/"
            >Play</a
          >
        </div>
      </div>
      <br>
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.pinimg.com/originals/46/70/1a/46701afac92106de05dc3c2cc6220f8b.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Slither.IO</h5>
          <p class="card-text">
            The smash-hit game! Play with millions of players around the world
            and try to become the longest of the day!
          </p>
          <a class="btn btn-info" href="http://slither.io/">Play</a>
        </div>
      </div>
      <br>
    <div class = "card">
    <img
          class="card-img-top"
          src="https://cdn.game.tv/game-tv-content/images_3/e0ead16ade22362cd60ea58d0987d80b/GameTile.jpg"
          alt="Card image cap"
        />
      <div class="card-body">
        <h5 class="card-title">pokemon show down</h5>
        <p class="card-text">
          Pokémon battle simulator. Play Pokémon battles online! Play with randomly generated teams, or build your own! Fully animated!
        </p>
        <a class="btn btn-info" href="https://play.pokemonshowdown.com/"
          >Play</a
        >
      </div>
      <div class = "card">
      <br>
    <img
          class="card-img-top"
          src="https://cdn.mos.cms.futurecdn.net/wWg4HfjiMDcUgkgWDNBBLf-970-80.jpg"
          alt="Card image cap"
        />
      <div class="card-body">
        <h5 class="card-title">pokemon show down</h5>
        <p class="card-text">
          An isometric shooter in which you can battle with your friends against an opposing team, or fight in a free-for-all with everyone. Power-up stations placed in the arena grant different weapons. There are a couple characters to choose from off the bat, and plenty more to unlock as you bump off your enemies.
        </p>
        <a class="btn btn-info" href="https://squadd.io/"
          >Play</a
        >
      </div>
    </div>

    <!-- loading scripts -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
