{% extends 'to_do/base.html' %} {%block content%}

<div class="row mt-4">
  <div class="col">
    <center>
      <h1>
        <font color="white"
          ><i><b>Add Task</b></i></font
        >
      </h1>
    </center>

    <form action="add_todo/" method="POST" class="form-box">
      <! all input will be stored in dic called with request.POST-->
      <input
        type="text"
        name="content"
        class="form-control mb-2"
        placeholder="Type here..."
      /><! name ='content' is key -->
      <button type="submit" class="btn btn-primary mb-2">
        Submit<i class="small material-icons">send</i>
      </button>
    </form>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    {% for todo_item in todo_items %}
    <div class="row mt-2">
      <a href="#" class="list-group-item list-group-item-action"
        >{{ todo_item }}
        <div class="float-right">
          <form action="delete_todo/{{ todo_item }}/" method="post">
            <button type="submit" class="btn btn-outline-danger">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </form>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock content %}
